<li>
    <article class="news-article">
        <img src="{{ article.data.image }}" alt="{{ article.data.imageAlt }}" class="news-article-image"/>
        <h2 class="news-article-title">
            <a href="{{ article.url }}">{{ article.data.title }}</a>
        </h2>
        <p class="news-article-meta">by
            <span>{{ article.data.author }}</span>
            on
            <span>{{ article.date | postDate }}</span>
        </p>
        <p class="news-article-body">{{ firstParagraph | safe }}</p>
        <a href="{{ article.url }}" class="btn news-article-continue">Continue Reading</a>
    </article>
</li>