---
layout: 'base.njk'
---

<article class="page-content news-article">
  <h1 class="news-article-title">
    {{ title }}
  </h1>
  <img class="news-article-image" src="{{ image }}" alt="{{ imageAlt }}"> {{ content | safe }}
</article>