<article class="news-article-snippet">
    <img src="{{ article.data.image }}" alt="{{ article.data.imageAlt }}" class="news-article-snippet-image"/>
    <div class="news-article-snippet-main">
        <h2 class="news-article-snippet-title">
            <a href="{{ article.url }}">{{ article.data.title }}</a>
        </h2>
        <p class="news-article-snippet-meta">by
            <span>{{ article.data.author }}</span>
            on
            <span>{{ article.date | postDate }}</span>
        </p>
        <div class="news-article-snippet-body">{{ article.content | replace('<p>', '')| replace('</p>', '<br><br>') | safe }}</div>
        <a href="{{ article.url }}" class="btn news-article-snippet-continue">Continue Reading</a>
    </div>
</article>