<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
        <script src="/main.js"></script>
        {% if title == 'Gallery' %}
            <script type="module">
                import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.js';
                const lightbox = new PhotoSwipeLightbox({
                    gallery: '#gallery',
                    children: 'a',
                    pswpModule: () => import ('/photoswipe/photoswipe.esm.js'),
                    bgClickAction: 'close'
                });
                lightbox.init();
            </script>
            <link rel="stylesheet" href="/photoswipe/photoswipe.css">
        {% endif %}
    </head>
    <body>
        {% include 'header.njk' %}
        <main>
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
            const hamburger = document.querySelector(".hamburger");
            const navMenu = document.querySelector(".nav-menu");
            hamburger.addEventListener("click", mobileMenu);
            function mobileMenu() {
                hamburger.classList.toggle("active");
                navMenu.classList.toggle("active");
            }
        </script>
    </body>
</html>