<a href="tel:{{ contact.phone | replace(' ', '') }}" class="contact-card">
  <h3 class="contact-card-position">{{ contact.position }}</h3>
  <h2 class="contact-card-name">{{ contact.name }}</h2>
  <span class="contact-card-phone">{{ contact.phone }}</span>
</a>