<footer class="site-footer">
    <section class="site-footer-main">
        <section class="site-footer-section">
            <h2>Location</h2>
            <address>
                Barton Manor School Sports Centre,<br/> Spring Lane,<br/> Canterbury,<br/>Kent,<br/> CT1 1SU
            </address>
        </section>
        <section class="site-footer-section">
            <h2>Links</h2>
            <ul>
                <li><a href="https://www.badmintonengland.co.uk/" target="_blank">Badminton England</a></li>
                <li><a href="https://www.nfrba.co.uk/" target="_blank">North Foreland Regional Badminton Association</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </section>
    </section>
    <p class="site-footer-copyright">© {{ helpers.currentYear() }} Apollo Badminton Club. All rights reserved.</p>
</footer>