<footer class="site-footer">
    <section class="site-footer-main">
        <section class="site-footer-section">
            <h2>Location</h2>
            <address>
                St Anselms School Sports Hall,<br/> Old Dover Road, Canterbury,<br/> Kent, CT1 3EN
            </address>
        </section>
        <section class="site-footer-section">
            <h2>Info</h2>
            <ul>
                <li>Night: Thursday</li>
                <li>Time: 7:30pm</li>
                <li>Cost: £5</li>
            </ul>
        </section>
        <section class="site-footer-section">
            <h2>Links</h2>
            <ul>
                <li><a href="https://www.badmintonengland.co.uk/" target="_blank">Badminton England</a></li>
                <li><a href="https://www.nfrba.co.uk/" target="_blank">North Foreland Regional Badminton Association</a></li>
            </ul>
        </section>
    </section>
    <p class="site-footer-copyright">© {{ helpers.currentYear() }} Apollo Badminton Club. All rights reserved.</p>
</footer>