<header {% if hero %} class="hero" {% endif %}>
    <a class="logo" href="/index">
        <img src="/assets/shuttlecock.png" alt=""/> Apollo Badminton Club
    </a>
    <nav>
        <ul class="nav-menu" role="list">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about/">About</a>
            </li>
            <li>
                <a href="/history/">History</a>
            </li>
            <li>
                <a href="/fixtures/">Fixtures</a>
            </li>
            <li>
                <a href="/news/">News</a>
            </li>
            <li>
                <a href="/gallery/">Gallery</a>
            </li>
            <li>
                <a href="/contact/">Contact</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>