--- 
title: About Us 
layout: 'base.njk' 
---

<section class="page-content about-us">
  <h1>{{ title }}</h1>
  <img src="/assets/about1.jpg" alt="Action shot" class="about-image-1">
  <p>We play on Thursday nights from 7:30 to 10:00pm at Barton Manor School Sports Centre (see
    <a href="/Contact">Contact</a>
    page for help finding us). There are 4 courts available to play on during non-school exam times. We play doubles matches
    and use feather shuttlecocks.</p>
  <h2>League</h2>
  <p>We field mens teams, mixed teams and composite teams in the local
    <a href="https://www.nfrba.co.uk" target="_blank">North Foreland league</a>. The league runs from September to April and
      our home matches are played across 2 courts on Thursday nights. There is no pressure for our members to play league but
      we offer the opportunity to play in our teams to those who do.</p>
  <h2>Summer Club</h2>
  <p>Over the summer months when the regular badminton season has ended, we run a summer club on a pay and play basis. The
    cost of the summer club evenings is £10. You'll need to bring your own racquet and a good safe pair of trainers, all
    other equipment is supplied. The summer club runs from May until the end of August.</p>
  <h2>Visitors</h2>
  <p>We welcome visitors throughout the season. Visitors can play for just £8 a night. From September the league club
    starts but we are still open for others for a maximum of 6 nights. If you wish to play more often, you will have to
    register with Badminton England, which is something we can help you with.
  </p>
  <img src="/assets/about2.jpg" alt="Action shot" class="about-image-2">
  <h2>Membership</h2>
  <p>The membership fee is £125 (which can be paid in one instalment or three separate instalments or by special agreement
    with the treasurer) for club season, which runs from September to May. Registering enables us to plan for the coming
    year.</p>
  <p>There will be an additional fee for Badminton England Membership as well as North Foreland League fees. Members are
    then free to come and attend any club night throughout the season: a total of 33 weeks in all (less than £4 a week).
    There is a small fee on top of this for those who wish to play matches and this is paid on the day of each match.</p>
  <p>If you would like to join Apollo Badminton Club and to be considered for one of our teams, or just play badminton,
    please
    <a href="/Contact">contact us</a>. Likewise, if you have any questions, please speak to Jo Guy, Michael Myles or any
      other committee member who will be happy to help.</p>
  <h2>More about badminton</h2>
  <p>We're now featured on the
    <a href="https://www.bbc.co.uk/sport/get-inspired/23143100" target="_blank">BBC Get Inspired website.</a>
  </p>
  <p>View the
    <a href="https://www.badmintonengland.co.uk/" target="_blank">Badminton England</a>
    website for further insight to the current developments in badminton for all ages, membership and benefits, regulation
    and the club structure in England.</p>
  <p>Apollo is affiliated to the
    <a href="https://www.nfrba.co.uk/" target="_blank">North Foreland Regional Badminton Association</a>
    and part of the Canterbury Community Badminton Network. There are over 70 networks across England working in partnership
    to strategically develop badminton in their local areas.</p>
  <p>Apollo is supported by
    <a href="http://www.workinstyle.com" target="_blank">Work in Style Ltd</a>, based in Stockport, in the supply of polo
      shirts and raising the profile of the club and health and wellbeing in sport.</p>
</div>