--- 
title: Contact Us
layout: 'base.njk'
---

<section class="page-content">
  <h1>{{ title }}</h1>
  <form id="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </p>
    <p>
      <label>Name: <input type="text" name="name" maxlength="10"/></label>
    </p>
    <p>
      <label>Email: <input type="email" name="email"/></label>
    </p>
    <p>
      <label>Message:
        <textarea name="message"></textarea>
      </label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</section>
<section class="find-us">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9986.69521311774!2d1.0889657508064086!3d51.26191507164068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47deca215765555f%3A0x80cab6f762a99b9b!2sApollo%20Badminton%20Club!5e0!3m2!1sen!2suk!4v1687243491755!5m2!1sen!2suk"
    width="400"
    height="350"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <section class="find-us-info">
    <h2>How To Find Us</h2>
    <p>We play at St Anselms School Sports Hall, behind the school in the large green building. Look out for a big sign on
      the neaby roadside fence.</p>
    <img src="/assets/apollo-sign.jpg" alt="Sign">
  </section>
</section>