--- 
title: Gallery
layout: 'base.njk'
---

<section class="page-content">
  <h1>{{ title }}</h1>
  <section id="gallery">
    {% for item in collections.gallery %}
      {% image "./src" + item.data.image, "test" %}
    {% endfor %}
  </section> 
</section>