--- 
title: History of the Club
layout: 'base.njk' 
---

<section class="page-content history">
    <h1>{{ title }}</h1>
    <img src="/assets/history.jpg" alt="History" class="history-image">
    <p>The origin of Apollo Badminton Club dates back to 1975 when 6 people from the BT social badminton club in Canterbury
        decided to branch out and be a bit more competitive. Patrick Solly, Keith Lamkin, Colin Newman, Brenda Booth, Dawn
        Carter and Brenda Graham decided Rough Common Village Hall was the ideal setting to start up this new Club.</p>
    <p>Rough Common Badminton Club flourished with membership growing well. They became a thorn in the side of larger clubs
        and won numerous trophies in the North Foreland Regional Badminton Leagues. In 1986 the committee decided it was time
        for a name change and Apollo BC was born. The name was later changed to Apollo (Canterbury) BC when another Apollo
        sprung up in Ashford.</p>
    <p>In 1998 Pat realised that to remain competitive the club needed to find a larger venue so he grabbed the chance to
        move to the vacant Northgate Community Centre, formerly known as the Garrison drill hall. Moving from Rough Common
        called for a new name and Apollo BC was formed.</p>
    <p>This move was just what Apollo BC needed and the club grew quite quickly, more players meant more teams in the North
        Foreland Badminton Leagues. Now boasting two mixed teams, one mens and one ladies, the club was very competitive but
        managed to hold on to its friendly nature and so guaranteeing a good club night for those who just wanted a bit of fun.</p>
    <p>In 2004 Pat, now the only remaining member of the original six still playing, decided to stand down as Chairman.
        Although he remained as treasurer and secretary, a new Chairperson was needed. Robert Dalgliesh, a long time player and
        well known face in the area, stepped forward and held the position till 2006. The mantle then passed to Ian Andrews.</p>
    <p>It was early in 2008 when Apollo were forced to look for an alternative venue. The old sports centre began to show
        signs of wear and tear on the floor and Canterbury City Council were unsure of its future, giving them notice to move.
        This called for urgent action and, during the summer, Pat again came up trumps for his Apollo Club and found a home in
        the newly finished sports hall at St Anselms School in Canterbury, the premier location at the time in Canterbury. With
        a club membership of 36, Apollo were now entering 2 mixed teams, 2 mens teams and a newly formed composite team into the
        leagues and regularly picked up a trophy from one of the divisions. A summer club was introduced and this is well
        supported each year by players of all standards from around the area.</p>
    <p>For the start of the 2015/16 season, Ian Riddell became the new Chair Person. Ian took the club into the digital age,
        setting up the website and social media, using Facebook, working closely with Micheal Myles who continues to update us
        with all the current news about the club. At a time when clubs were losing members Ian brought new interest into the
        sport, backed by two previous chairs and an experienced committee. The club flourished and it has become the largest
        club in Canterbury, while managing to keep the friendly atmosphere that Pat and Apollo BC started 40 years ago.</p>
    <p>In 2018/19 Lee Funnell joined Ian as joint chair for a transition period and consolidated the clubs position and took
        over for the coming season. However, Lee's commitments as a badminton coach meant that she was unable to continue her
        role, so in 2020, Jo Guy took over as Chair Person and has brought her own personality and ideas to the role, backed by
        the committee, made up of new and experienced people, who will maintain Apollo's ethos and safeguard its future.</p>
    <p>In 2025 the club moved to its new home of Barton Manor School sports centre, a more modern hall with better facilities.</p>
</section>