--- 
title: Home
layout: 'base.njk'
---

<section id="home-hero-container">
  <img src="assets/hall.jpg" alt="" class="hero-image">
</section>
<section id="home-headline-container">
  <section class="home-headline">
    <h2>Social</h2>
    <p>Visitors can play for just £8 a night. Come along and enjoy the social side of our club. We have fun but competitive
      social club nights, two club tournaments a year and an awards evening.</p>
    <img src="assets/social.jpg" alt="">
  </section>
  <section class="home-headline">
    <h2>Competitive</h2>
    <p>During the league season, we field men’s, ladies, mixed and composite league teams in the local North Foreland area.</p>
    <img src="assets/competitive.jpg" alt="">
  </section>
  <section class="home-headline">
    <h2>Welcoming</h2>
    <p>We play on Thursday nights from 7:30 - 10p.m. at Barton Manor School Sports Centre, Canterbury.</p>
    <img src="assets/welcoming.jpg" alt="">
  </section>
</section>
<div class="page-content">
  <h1>Welcome to Apollo Badminton Club!</h1>
  <p>We are a friendly club based in Canterbury that welcomes new members for both social badminton and competitive league
    matches.</p>
  <p>We play on Thursday nights from 7:30pm to 10:00pm at Barton Manor School Centre Hall on Spring Lane, Canterbury.
    There is ample parking spaces. We have 4 courts available to play on during non-school exam times.</p>
  <p>Further information can be found on our
    <a href="/About">About</a>
    page or please
    <a href="/Contact">contact us</a>
    with any questions or queries you have.</p>
  <p>
    <strong>We look forward to seeing you on the courts!</strong>
  </p>
  <a class="facebook-link" href="https://www.facebook.com/apollo.canterbury" target="_blank"><img src="/assets/facebook.webp" alt="Facebook">
  Visit our Facebook page for news and match reports</a>
</div>
<div class="latest-article-container">
  {% set article = collections.articles | last %}
  {% include 'article-snippet.njk' %}
</div>