--- 
title: News 
layout: 'base.njk' 
---

<section class="page-content">
  <h1>{{ title }}</h1>
  <ul class="news-article-snippet-list" role="list">
    {% for article in collections.articles | reverse %}
      <li>
        {% include 'article-snippet.njk' %}
      </li>
    {% endfor %}
  </ul>
</section>