:root {
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 5rem;

  /* --ff-body: "Roboto", sans-serif; */
  --ff-body: "Montserrat", sans-serif;
  --ff-heading: "Playfair Display", serif;
  --ff-logo: 'Love Ya Like A Sister', cursive;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;


  --clr-primary-300: rgb(112, 184, 217);
  --clr-primary-400: rgb(84, 154, 186);
  --clr-primary-500: hsla(199, 68%, 39%, 1);
  --clr-primary-500-o: hsla(199 68% 39% / 60%);
  --clr-primary-600: rgb(18, 85, 117);
  --clr-primary-800: rgb(19, 41, 51);

  --clr-secondary-400: #ffff00;
  --clr-secondary-500: #dfe000;

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: #CECECE;
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-700: rgb(109, 109, 109);
  --clr-neutral-800: rgb(67 67 67);

  --clr-accent-1: rgb(92 191 195);
  --clr-accent-2: rgb(146 91 213);
  --clr-accent-3: rgb(220 143 51);
  --clr-accent-4: rgb(124, 17, 86);

}

/* 
@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
} */

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-800);
}

h1,
h2,
h3 {

  line-height: 1.1;
}

h1 {
  font-size: clamp(var(--fs-600), 2.5vw, var(--fs-700));
  font-weight: var(--fw-700);
  margin-bottom: 0.5em;
}

h2 {
  font-size: clamp(var(--fs-500), 2vw, var(--fs-600));
  font-weight: var(--fw-600);
}

strong {
  font-weight: var(--fw-700);
}

main {
  padding-bottom: 4em;
}

.page-content {
  width: clamp(700px, 80vw, 80ch);
  margin: 2em auto;
}

p {
  font-size: clamp(var(--fs-300), 1vw, var(--fs-400));
  margin-bottom: 1em;
  text-align: justify;
}


/* //////////////////////
  Header
  /////////////////////// */

header {
  aspect-ratio: 18;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-500);
  border-bottom: 3px solid var(--clr-secondary-400);
}

/* 
header.hero {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--clr-primary-500-o);
} */

.logo {
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-family: var(--ff-logo);
  font-size: clamp(var(--fs-600), 4vw, var(--fs-800));
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo img {
  width: 1em;
  transform: rotate(324deg);
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.nav-menu a {
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-size: clamp(var(--fs-300), 1.5vw, var(--fs-500));
}

.nav-menu a:focus,
.nav-menu a:hover {
  color: var(--clr-secondary-400);
}

.hamburger {
  display: none;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-neutral-100);
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-800);
  font-weight: var(--fw-300);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer-main {
  width: clamp(700px, 80vw, 80ch);
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 5rem;
}

.site-footer-section {
  font-size: var(--fs-300);
}

.site-footer-section h2 {
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.site-footer-section address {
  font-style: normal;
}

.site-footer-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer-section a {
  color: var(--clr-neutral-100);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.site-footer-section a:hover {
  color: var(--clr-secondary-400);
}

.site-footer-copyright {
  width: 100%;
  background-color: var(--clr-primary-500);
  text-align: center;
  font-size: var(--fs-100);
  padding: 0.3rem;
}


/* //////////////////////
  Homepage
  /////////////////////// */

#home-hero-container {
  padding: 0;
  width: 100%;
  aspect-ratio: 3;
  background-color: var(--clr-primary-500);
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
  opacity: 0.5;
}

#home-headline-container {
  margin: 0 auto;
  position: relative;
  top: -18vw;
  margin-bottom: -16vw;
  display: flex;
  gap: 2vw;
  justify-content: center;
  width: clamp(700px, 80vw, 1300px);
}

.home-headline {
  background-color: var(--clr-primary-500);
  box-shadow: 5px 5px 10px var(--clr-neutral-800);
  flex-basis: fit-content;
  flex-grow: 1;
  contain-intrinsic-block-size: ;
  color: var(--clr-neutral-100);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  padding: 1.5vw;
}

.home-headline img {
  font-size: 2em;
  font-weight: var(--fw-700);
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.home-headline h2 {
  text-align: center;
  font-size: clamp(var(--fs-400), 2vw, var(--fs-700));
  font-weight: var(--fw-600);
  border-bottom: 1px solid var(--clr-neutral-100);
  padding-bottom: 0.2em;
  width: 90%;
}

.home-headline p {
  font-size: clamp(var(--fs-100), 1.5vw, var(--fs-500));
  font-weight: var(--fw-300);
}


/* //////////////////////
  Gallery
  /////////////////////// */

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

#gallery a {
  aspect-ratio: 1;
}

#gallery a img {
  height: 100%;
  object-fit: cover;
}


/* //////////////////////
  Fixtures
  /////////////////////// */

#fixtures {
  list-style-type: none;
  padding: 0;
}

.fixture {
  background-color: var(--clr-neutral-300);
  /* border: 2px solid var(--clr-neutral-800); */
  box-shadow: 5px 5px 10px rgb(72, 72, 72);
  color: var(--clr-neutral-100);
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
}

.fixture[data-team="MEN"] {
  background-color: var(--clr-accent-1);
  /* border: 2px solid rgb(88, 231, 236);
  box-shadow: 5px 5px 10px rgb(27, 99, 101); */
}

.fixture[data-team="CMP"] {
  background-color: var(--clr-accent-2);
  /* border: 2px solid rgb(150, 99, 213);
  box-shadow: 5px 5px 10px rgb(75, 46, 111); */
}

.fixture[data-team="MIX"] {
  background-color: var(--clr-accent-3);
  /* border: 2px solid rgb(236, 169, 88);
  box-shadow: 5px 5px 10px rgb(96, 65, 26); */
}

.fixture[data-team="LAD"] {
  background-color: var(--clr-accent-4);
  /* border: 2px solid rgb(236, 169, 88);
  box-shadow: 5px 5px 10px rgb(96, 65, 26); */
}

.fixture-date {
  font-size: clamp(var(--fs-200), 2vw, var(--fs-400));
  font-weight: var(--fw-600);
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.fixture-match {
  font-size: clamp(var(--fs-400), 2.5vw, var(--fs-600));
  font-weight: var(--fw-300);
  grid-column: 1 / span 3;
  grid-row: 2;
  text-align: center;
}

.fixture-match strong {
  font-weight: var(--fw-600);
}

.fixture-team {
  font-size: clamp(var(--fs-200), 2vw, var(--fs-400));
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}

.fixture-location {
  font-size: clamp(var(--fs-200), 2vw, var(--fs-400));
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}

/* //////////////////////
  Conctact Us
  /////////////////////// */

#contact-main {
  display: flex;
  gap: 4vw;
}

#contact-para {
  margin-bottom: 30px;
}

#contact-cards-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  width: clamp(150px, 25vw, 230px);
  gap: 4px;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
  padding: 0.8em;
  box-shadow: 5px 5px 10px rgb(72, 72, 72);
  text-decoration: none;
}

.contact-card:nth-child(1) {
  background-color: var(--clr-accent-4);
}

.contact-card:nth-child(2) {
  background-color: var(--clr-accent-2);
}

.contact-card:nth-child(3) {
  background-color: var(--clr-accent-3);
}

.contact-card:nth-child(4) {
  background-color: var(--clr-accent-1);
}

.contact-card-position {
  font-size: clamp(var(--fs-200), 2vw, var(--fs-300));
  font-weight: var(--fw-600);
}

.contact-card-name {
  font-size: clamp(var(--fs-500), 2.5vw, var(--fs-600));
  font-weight: var(--fw-300);
}

.contact-card-phone {
  font-size: clamp(var(--fs-300), 2vw, var(--fs-400));
  font-weight: var(--fw-400);
}

#contact-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

#contact-form .hidden {
  display: none;
}

.input-section-outer {
  width: 100%;
}

.input-section {
  display: grid;
  position: relative;
  width: 100%;
}

.textbox {
  width: 100%;
  border: none;
  font-size: var(--fs-400);
  outline: 1px solid var(--clr-neutral-300);
  border-radius: 2px;
  padding-inline: 16px;
  background-color: transparent;
  padding-block: 1.2rem 6px;
}

.textarea {
  width: 100%;
  height: 10rem;
  border: 16px solid transparent;
  font-size: var(--fs-400);
  outline: 1px solid var(--clr-neutral-300);
  border-radius: 2px;
  scrollbar-width: thin;
  background-color: transparent;
  border-top-width: 1.2rem;
}

.input-label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-neutral-300);
  font-size: var(--fs-400);
  margin-bottom: 0;
  pointer-events: none;
  transition: 0.2s ease all;
}

.textarea+.input-label {
  top: 1rem;
  transform: none;
}

.textbox:focus,
.textarea:focus {
  outline: 1px solid var(--clr-primary-400);
}

.textbox:focus+.input-label,
.textbox:not(:placeholder-shown)+.input-label,
.textarea:focus+.input-label,
.textarea:not(:placeholder-shown)+.input-label {
  top: 0.3rem;
  transform: none;
  font-size: var(--fs-200);
  color: var(--clr-primary-400);
}

.btn {
  border: none;
  text-decoration: none !important;
  padding: 0.6rem 2rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
}

#contact-form .error {
  color: red;
  font-size: var(--fs-200);
  display: none;
}

.find-us {
  background-color: var(--clr-neutral-800);
  padding: 3vw 0;
}

.find-us-inner {
  width: clamp(700px, 80vw, 80ch);
  margin: 0 auto;
  display: flex;
  gap: 3vw;
  color: var(--clr-neutral-100);
}

.map-wrapper {
  position: relative;
  overflow: hidden;
  width: clamp(200px, 40vw, 400px);
  padding-bottom: 30%;
}

.map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.find-us-info {
  flex-basis: 0;
  flex-grow: 1;
}

.find-us-info h2 {
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

.find-us-info img {
  border: 1px solid var(--clr-neutral-100);
  margin-top: 20px;
}

/* //////////////////////
  Privacy Policy
  /////////////////////// */

#privacy [data-custom-class='body'],
#privacy [data-custom-class='body'] * {
  background: transparent !important;
}

#privacy [data-custom-class='title'],
#privacy [data-custom-class='title'] * {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #000000 !important;
}

#privacy [data-custom-class='subtitle'],
#privacy [data-custom-class='subtitle'] * {
  font-family: Arial !important;
  color: #595959 !important;
  font-size: 14px !important;
}

#privacy [data-custom-class='heading_1'],
#privacy [data-custom-class='heading_1'] * {
  font-family: Arial !important;
  font-size: 19px !important;
  color: #000000 !important;
}

#privacy [data-custom-class='heading_2'],
#privacy [data-custom-class='heading_2'] * {
  font-family: Arial !important;
  font-size: 17px !important;
  color: #000000 !important;
}

#privacy [data-custom-class='body_text'],
#privacy [data-custom-class='body_text'] * {
  color: #595959 !important;
  font-size: 14px !important;
  font-family: Arial !important;
}

#privacy [data-custom-class='link'],
#privacy [data-custom-class='link'] * {
  color: #3030F1 !important;
  font-size: 14px !important;
  font-family: Arial !important;
  word-break: break-word !important;
}

#privacy ul {
  list-style-type: square;
}

#privacy ul>li>ul {
  list-style-type: circle;
}

#privacy #privacy ul>li>ul>li>ul {
  list-style-type: square;
}

#privacy ol li {
  font-family: Arial;
}


@media (max-width: 768px) {

  .page-content,
  .site-footer-main,
  .site-footer-main,
  #home-headline-container,
  .find-us-inner {
    width: 90%;
  }

  nav {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .nav-menu {
    z-index: 1;
    position: fixed;
    right: -180px;
    top: 63px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--clr-primary-500);
    width: 180px;
    text-align: right;
    transition: 0.3s;
    gap: 20px;
    padding: 20px;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu a {
    font-size: var(--fs-400);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logo {
    font-size: clamp(var(--fs-600), 6.5vw, var(--fs-700));
  }

  .site-footer-main {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }



}

@media (max-width: 500px) {

  h1 {
    font-size: var(--fs-700);
  }

  main {
    padding-bottom: 10px;
  }

  p {
    font-size: var(--fs-400);
  }

  #home-hero-container {
    aspect-ratio: 1.5;
  }

  #home-headline-container {
    flex-direction: column;
    top: -40vw;
    margin-bottom: -35vw;
    width: 70%;
    gap: 8vw;
  }

  .home-headline {
    gap: 3vw;
    padding: 3vw;
  }

  .home-headline img {
    font-size: 2em;
    font-weight: var(--fw-700);
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  .home-headline h2 {
    font-size: var(--fs-600);

  }

  .home-headline p {
    font-size: var(--fs-400);
  }

  #contact-main {
    flex-direction: column;
    gap: 12vw;
  }

  #contact-form {
    order: 1;
  }

  #contact-form .btn {
    width: 100%;
  }

  #contact-cards-container {
    order: 2;
  }

  .contact-card {
    width: 100%;
    align-items: center;
  }

  .find-us {
    padding: 5vw 0;
  }

  .find-us-inner {
    flex-direction: column;
    align-items: center;
    gap: 8vw;
  }

  .map-wrapper {
    width: 100%;
    padding-bottom: 80%;
    order: 2;
  }  

  .find-us-info {
    order: 1;
  }

  #contact-para {
    margin-bottom: 20px;
  }

}